

.descrip{
   
    font-size: 25px;
 
    margin-top:30px; margin-left: 400px; margin-right:400px;
    padding-left: 100px;
    
}
.datos{
   
    font-size: 25px;
 
    margin-top:30px; margin-left: 80px; margin-right:80px;
padding-left: 400px;

    
}


.bg-bluey{
    background-color: #008394;
}



