:root{
    --primary:#fffecdd9;
    --light: #ffffff;
    --blue:#3c94a085;
    --blue-y: #008394;
    
    }

    .bg.white{
        background-color: var(--light) ;
    }

    .py-6{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .profile-picture{
        background-image: url(Luffy.jpg);
        background-size: cover;
        width: 3rem;
        height: 3rem;
    }

    .profile-picture2{
        background-image: url(poesia.jpg);
        background-size: cover;
        width: 3rem;
        height: 3rem;
    }

    .profile-picture3{
        background-image: url(walker.jpg);
        background-size: cover;
        width: 3rem;
        height: 3rem;
    }

    .profile-picture4{
        background-image: url(walker.jpg);
        background-size: cover;
    margin-left: 220px;
        width: 10rem;
        height: 10rem;
    }


.tamaño{
  font-size: 16px;
}

.letra{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    color: #e8e829;
}

.back{
    background-image: url(fondo.png);
    background-attachment: fixed;
}

.static{
    position: fixed;
}

.header{
    text-align: center;
    height: 100px;
    padding: 40px;
    margin:20px;
    padding-left: 300px;
}

.hea{
    text-align: center;
    height: 50px;
    padding:10px;
    margin:10px;
    padding-left: 600px;
}

.top{
    text-align: center;
    height: 10px;
    margin:20px;
    padding-top: 1px;
    padding-left: 300px;
}


.banner{
    background-image: url(fondo.png);
    background-attachment: fixed;
}

.uno{
    background-image: url(1.png);

}

